.wrapper {
    grid-auto-rows:100px;
    border: 5px solid #676363;
    border-radius: 5px;
    background-color: #f9f7f4;
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 100px;
  column-gap: 10px;
  row-gap: 1em;
    
    
  }

  .one{
    background-color: antiquewhite;
    border: 5px solid #151515;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;



  }

  .two{
    background-color: aqua;
    border: 5px solid #151515;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;

}
  

.three{
    background-color: rgb(98, 67, 67);
    border: 5px solid #151515;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  



}

.four{
    background-color: blue;
    border: 5px solid #151515;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
 
    

    

}

.five{
    background-color: brown;
    border: 5px solid #151515;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    

}
.six{
  background-color: brown;
  border: 5px solid #151515;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
    grid-row-end: 3;

}
.seven{
  background-color: brown;
  border: 5px solid #151515;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
    grid-row-end: 3;

}

